$max-width: 1440px;

$tablet-breakpoint: 810px;
$desktop-breakpoint: 1439px;

$hero-padding-desktop-top: 80px;
$hero-padding-desktop-side: 64px;
$hero-padding-tablet-top: 80px;
$hero-padding-tablet-side: 40px;
$hero-padding-mobile-top: 40px;
$hero-padding-mobile-side: 24px;

$color-background-main: #031e1a;
$color-background-secondary: #f3fffd;

$color-text-main: #00ffe0;
$color-text-secondary: #031e1a;

$color-button-1: #052b25;
$color-button-2: #00ffe0;
$color-button-3: #00ffe0;

$color-tag: #f3fffe;
